#navbar {
  background-color: #f1eaea;
  overflow: hidden;
  display: flex;
  align-items: center;
  /* margin-bottom: 20px; */
}

#navbar a {
  color: black;
  font-style: italic;
  font-style: bold;
  font-size: 18;
  text-align: left;
  padding: 35px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

#navbar a:hover {
  background-color: #555;
}


/* style.css */
#navbar span {
  font-size: 30px;
  font-style: italic;
  color: black;
  margin-left: 9px;
  margin-bottom: 1px;
  margin-right: 50px;

}

.search-container {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  padding: 6px 12px;
  border: none;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #333;
  /* Add border with color black */
}

#search {
  border: none;
  outline: none;
  padding: 6px;
}

.more-options-button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 18px;
  color: #555;
  margin-right: 20px;
}

.search-button:focus,
.more-options-button:focus {
  outline: none;
}

.search-button:hover,
.more-options-button:hover {
  color: #333;
}

.settings-icon {
  margin-left: 15px;
  /* Adjust the margin as needed */
  font-size: 30px;
  color: #555;
  cursor: pointer;
}

.settings-icon:hover {
  color: #333;
}

/* index.css */

/* For small screens, hide the sidebar and show the navbar button */
@media (max-width: 767px) {

.md\\:block {
  display: block;
}
}

/* For medium screens and above, show the sidebar and hide the navbar button */
@media (min-width: 768px) {
.md\\:block {
  display: none;
}
.Sidebar {
  display: inline-block;
}

}
