

.login-container {
  position: relative;
  top: 15%;
  display: flex;
  flex-direction: column;
  justify-content: center; /* This centers vertically */
  align-items: center;
  max-width: 400px;
  max-height: 100vh;
  margin: 0 auto;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #F0F8FF;
}

h1 {
  margin-bottom: 20px !important;
  color: #007BFF !important;
  font-size: 40px !important;
  
}
.input-container {
  margin-bottom: 15px;
  text-align: left;
}
.input-container label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  align-items: center;
  color: #333;
}
/* h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #007BFF;
} */
.input-container {
  margin-bottom: 15px;
}
.label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333333;
}
.input-field {
  width: 100%;
  height: 35px; /* Adjust the height as needed */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #333;
}
.keep-logged-in {
  display: flex;
  /* align-items: left; */
  /* justify-content: space-between;  */
  margin-bottom: 10px;
}
.keep-logged-in-checkbox {
  margin: 0;
  display: flex;
  align-items: center;
   margin-bottom: 10px;
}
.login-button {
  background-color: #007BFF !important;
  color: white;
  border:darkcyan;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.lng-button{
  background-color: #5B6E83;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.login-button:hover {
  background-color: #0056B3;
}
.login-message {
  margin-top: 10px;
  margin-bottom: 5px;
  color: #007BFF;
}
.login-message {
  margin-top: 5px; /* Adjusted margin for spacing */
  margin-bottom: 10px; /* Added margin for spacing */
  color: #007BFF;
}
.forgot-password {
  margin-top: 15px;
  color: #007BFF;
  text-decoration: none;
  display: block;
}
.forgot-password:hover {
  text-decoration: underline;
}
.sign-txt {
  text-align: center;
  margin-top: 15px;
  color: #333;
  font-size: 14px;
}
.login-button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; /* Adjust the margin as needed */
}
.login-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.login-button:hover {
  background-color: #0056b3;
}